#HUB
[Interface]
PrivateKey = oI7NBukM5Vw0jOfXV2QA/eBM/PUsZWPT6Fo7/nV+Pmk=
ListenPort = 60034

#Spoke-VPC5
[Peer]
PublicKey = SIY6LJnPxsPT3iC4AkRbhbIIrLlRCKJSyk8B30sgJWU=
Endpoint = 152.42.133.87:60034
AllowedIPs = 0.0.0.0/0
