#HUB
[Interface]
PrivateKey = oI7NBukM5Vw0jOfXV2QA/eBM/PUsZWPT6Fo7/nV+Pmk=
ListenPort = 60033

#Spoke-VPC3
[Peer]
PublicKey = WAipckIWOxusR/HgBBUlImSNp/XPX5AuacTSwj7ON3Q=
Endpoint = 134.209.202.22:60033
AllowedIPs = 0.0.0.0/0
