#HUB
[Interface]
PrivateKey = oI7NBukM5Vw0jOfXV2QA/eBM/PUsZWPT6Fo7/nV+Pmk=
ListenPort = 60032

#Spoke-VPC2
[Peer]
PublicKey = tKJmXda5HmWTbCKMPKYf2u3n0vkSQO9Puz4pIMLOYCc=
Endpoint = 167.71.77.61:60032
AllowedIPs = 0.0.0.0/0
