#HUB
[Interface]
PrivateKey = oI7NBukM5Vw0jOfXV2QA/eBM/PUsZWPT6Fo7/nV+Pmk=
ListenPort = 60031

#Spoke-VPC1
[Peer]
PublicKey = TxE4SXgU3Qwl09gGccT/wNNU/LJkvzpFvep5lZGCwlw=
Endpoint = 146.190.31.184:60031
AllowedIPs = 0.0.0.0/0
