#Spoke-VPC2
[Interface]
PrivateKey = UGfS8YkxTZ2BzH1HQr8shzipxHfVK29TR/SpYfDob2I=
ListenPort = 60032

#HUB
[Peer]
PublicKey = yMNwW2vkDBEQ4iqYaH+N3j1dLKnVPVAWVpFhBUZOV3Q=
Endpoint = 152.42.129.191:60032
AllowedIPs = 0.0.0.0/0
