#Spoke-VPC5
[Interface]
PrivateKey = wB1b5IYNPtMnm4iIu+2RMgw1XfVBqneBomOm30w1lEM=
ListenPort = 60034

#HUB
[Peer]
PublicKey = yMNwW2vkDBEQ4iqYaH+N3j1dLKnVPVAWVpFhBUZOV3Q=
Endpoint = 152.42.129.191:60034
AllowedIPs = 0.0.0.0/0
