#Spoke-VPC3
[Interface]
PrivateKey = oKouPcu2te75zCXs9hiXPYTfFwYi3lPwy7u0BYJnvFY=
ListenPort = 60033

#HUB
[Peer]
PublicKey = yMNwW2vkDBEQ4iqYaH+N3j1dLKnVPVAWVpFhBUZOV3Q=
Endpoint = 152.42.129.191:60033
AllowedIPs = 0.0.0.0/0
