#Spoke-VPC1
[Interface]
PrivateKey = EFbvpqjZBEFpwfE+15HNXaaquYTvaB7UB86/IkX7qkA=
ListenPort = 60031

#HUB
[Peer]
PublicKey = yMNwW2vkDBEQ4iqYaH+N3j1dLKnVPVAWVpFhBUZOV3Q=
Endpoint = 152.42.129.191:60031
AllowedIPs = 0.0.0.0/0
